*
{
	margin: 0;
	border: 0;
	padding: 0;
	font-family: arial;
	text-decoration: none;
	list-style: none;
}

body
{
	background-color: black;
}

body:before
{
	background: url(../imagen/puntos.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    object-position: center;
    object-fit: cover;
    position: absolute;
    right: 120px;
    top: 0;
	width: 50%;
}

.header
{
	padding-bottom: 2em;
	position: relative;
	width: 100%;
}

.header__content
{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 1.5em 0;
	width: 85%;
}

.header__content--logo
{
	width: 120px;
}

.header__content__menu
{
	align-items: center;
	display: flex;
}

.header__content--ico
{
	width: 20px;
}

.header__content--a{
	color: white;
	font-size: 22px;
	padding-left: .5em;
}


.info
{
	position: relative;
	width: 100%
}

.info__content
{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 85%;
}

.info__left
{
	width: 50%;
}

.info__right
{
	width: 35%;
}

.info__left--p
{
	color: white;
	font-size: 28px;
	padding-bottom: 2em;
}

.info__left--img
{
	width: 80%;
}

.info__right--img
{
	width: 100%;
}

.info__right__items
{
	padding-top: 2em;
	text-align: right;
	width: 100%;
}

.info__right__items--item
{
	color: white;
	cursor: pointer;
}

.info__right__items--sem
{
	font-weight: bold;
	padding-top: 1em;
}

.info__right__items--item:hover
{
	color: orange;
}

.header__content--a:hover
{
	color: orange;
}